name: "Deployment"
run-name: "Deploy the app on self hosted machine"
on:
  workflow_run:
    workflows: ["Linter"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.head_branch == 'prod' }}
    runs-on: self-hosted
    steps:
      - name: "Copy repo"
        uses: actions/checkout@v5
      - name: set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12.3"
      - name: Build Docker Images
        run: docker-compose -f docker-compose.prod.yml build
      - name: Run Migrations
        run: docker-compose -f docker-compose.prod.yml exec web python manage.py migrate --no-input
      - name: Collect static files
        run: docker-compose -f docker-compose.prod.yml exec web python manage.py collectstatic --no-input
      - name: Start Containers
        run: docker-compose -f docker-compose.prod.yml up
      
