name: "Deployment"
run-name: "Deploy the app on self hosted machine"
on:
  workflow_run:
    workflows: ["Linter"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.head_branch == 'prod' }}
    runs-on: self-hosted
    environment: env.prod
    steps:
      - name: "Copy repo"
        uses: actions/checkout@v5
      - name: "Create .env.prod and .env.prod.db"
        run: |
          echo "DEBUG=${{ secrets.DEBUG }}" >> .env.prod
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env.prod
          echo "DJANGO_ALLOWED_HOSTS=${{ secrets.DJANGO_ALLOWED_HOSTS }}" >> .env.prod
          echo "DJANGO_CSRF_TRUSTED=${{ secrets.DJANGO_CSRF_TRUSTED }}" >> .env.prod
          echo "SQL_ENGINE=${{ secrets.SQL_ENGINE }}" >> .env.prod
          echo "SQL_DATABASE=${{ secrets.SQL_DATABASE }}" >> .env.prod
          echo "SQL_USER=${{ secrets.SQL_USER }}" >> .env.prod
          echo "SQL_PASSWORD=${{ secrets.SQL_PASSWORD }}" >> .env.prod
          echo "SQL_HOST=${{ secrets.SQL_HOST }}" >> .env.prod
          echo "SQL_PORT=${{ secrets.SQL_PORT }}" >> .env.prod
          echo "DATABASE=${{ secrets.DATABASE }}" >> .env.prod
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env.prod.db
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env.prod.db
          echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> .env.prod.db
      - name: Ensure we are in repo root
        run: pwd && ls -a
      - name: "Kill all docker images before building"
        run: docker-compose -f docker-compose.prod.yml down -v || true
      - name: Build Docker Images
        run: docker-compose -f docker-compose.prod.yml up -d --build
      - name: Run Migrations
        run: docker-compose -f docker-compose.prod.yml exec -T web python -m django migrate --no-input
      - name: Collect static files
        run: docker-compose -f docker-compose.prod.yml exec -T web python -m django collectstatic --no-input
      
