name: "Security Scanner"
run-name: "Security Scanner for the app"
on:
  push:
    branches:
      - prod
      - dev

jobs:
  trivy_scan:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v5
      - name: "Get trivy"
        uses: aquasecurity/trivy-action@master 
        run: 